.catalog {
    padding: 0 0 100px;
    &__tabs {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 70px;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        @media screen and (max-width: 445px) {
            flex-wrap: wrap;
        }
    }
    &__tab {
        width: 220px;
        height: 50px;
        margin: 0 5px;
        border: 2px solid #d0d0d0;
        font-size: 18px;
        font-weight: 500;
        color: #6b6b6b;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            box-shadow: 3px 3px 20px #808080;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color: #fff;
            border: none;
        }
        @media screen and (max-width: 700px) {
            max-width: 150px;
            font-size: 14px;
        }
        @media screen and (max-width: 530px) {
            max-width: 120px;
            font-size: 12px;
        }
        @media screen and (max-width: 445px) {
            margin-bottom: 10px;
        }
    }
    &__content {
        display: none;
        margin-top: 60px;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
        @media screen and (max-width: 1050px) {
            justify-content: space-around;
        }
        @media screen and (max-width: 680px) {
            justify-content: center;
        }
    }
    &-item {
        width: 300px;
        padding: 20px 20px 26px;
        min-height: 440px;
        margin-bottom: 20px;
        border: 2px solid #e8e8e8;
        overflow: hidden;
        &__img {
            display: block;
            max-width: 100%;
            height: 200px;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            color: #0d0d0d;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;
            font-weight: 300;
            font-size: 14px;
            color: #0d0d0d;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-align: center;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin: 19px 0 21px;
            border-bottom: none;
            background-color: #e8e8e8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-size: 14px;
            font-weight: 300;
            color: #555;
            text-decoration: line-through;
        }
        &__price {
            font-size: 20px;
            font-weight: 700;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: all 0.5s;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            padding-right: 20px;
            padding-left: 19px;
            margin-bottom: 0;
            margin-left: 20px;
            transform: translateX(0%);
            transition: all 0.5s;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-right: 0;
            }
            li {
                position: relative;
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 300;
                color: #555;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back {
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}