.reviews {
    padding-bottom: 50px;
    &__item {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
        img {
            width: 169px;
            height: 169px;
        }
        @media screen and (max-width: 950px) {
            flex-direction: column;
            align-items: center;
            img {
                margin-bottom: 10px;
            }
        }
    }
    &__descr {
        max-width: 680px;
        @media screen and (max-width: 950px) {
            text-align: center;
        }
    }
    &__title {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #646464;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
}